
@font-face {
    font-family: Inter;
    src: url(../Inter/Inter-Regular.ttf);

}
@font-face {
    font-family: "Inter Extra Bold";
    src: url(../Inter/Inter-ExtraBold.ttf);

}



body { 
    display: flex;
    justify-content: center;
}

.form {
    height: 45%;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    font-family: Inter;
}

.inputs{
    display: flex;
}

.textBox {
    margin: 6px;
    height: 26px;
}

.name {
    background-image: url(../img/user-gray.png);
    background-position: 5px center;
    background-size: 18px;
    background-repeat: no-repeat;
    padding-left: 27px;
    transition: .5s;
}
.name:focus {
    background-image: url(../img/user.png);
}
.password {
    background-image: url(../img/padlock-gray.png);
    background-position: 5px center;
    background-size: 18px;
    background-repeat: no-repeat;
    padding-left: 27px;
    transition: .5s;
}

.password:focus {
    background-image: url(../img/padlock.png);
}
.email {
    background-image: url(../img/email-gray.png);
    background-position: 5px center;
    background-size: 18px;
    background-repeat: no-repeat;
    padding-left: 27px;
    transition: .5s;
}
.email:focus{
    background-image: url(../img/email.png);
}
.cellphone {
    background-image: url(../img/cellphone-gray.png);
    background-position: 5px center;
    background-size: 18px;
    background-repeat: no-repeat;
    padding-left: 27px;
    transition: .5s;
}
.cellphone:focus{
    background-image: url(../img/cellphone.png);
}
.user {
    background-image: url(../img/user-gray.png);
    background-position: 5px center;
    background-size: 18px;
    background-repeat: no-repeat;
    padding-left: 27px;
    transition: .5s;
}
.user:focus{
    background-image: url(../img/user.png);
}
.cpf {
    background-image: url(../img/cpf-gray.png);
    background-position: 5px center;
    background-size: 18px;
    background-repeat: no-repeat;
    padding-left: 27px;
    transition: .5s;
}
.cpf:focus{
    background-image: url(../img/cpf.png);
}
.date {
    background-image: url(../img/calendar-gray.png);
    background-position: 5px center;
    background-size: 18px;
    background-repeat: no-repeat;
    padding-left: 27px;
    transition: .5s;
}
.date:focus{
    background-image: url(../img/calendar.png);
}
.YellowButton {
    margin-top: 30px;
}

.label {
    font-size: 28pt;
    font-weight: 800;
    padding-bottom: 30px;
    text-align: left;
    color:#FC5151;
}

p{
    padding-top: 15px;
}
a{
    color : #fc5151;
}
a:hover{
    color: seagreen;
}
.linkForm{
    font-family: Inter;
    font-size: 10pt;
}