@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
}
body { 
    background-image: url(../img/background.png);
    background-repeat: repeat;
}
.main {
    background-color: #FFF1BE;
    position: absolute;
    width: 38%;
    height: 100%;
    left: 0px;
    top: 0px;
    bottom: 0px;
    border: 6px solid rgba(255, 191, 164, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
}
#imgLogo {
    max-width:65%;  
    width: auto;
    height: auto;
    padding: 40px;
    position: relative;
    bottom: 20px;
}
.gameModeButton {
    width: 55%;
    height: 15%;
    background: #A4CCFC;
    border: 6px solid #A6AEFC; 
    border-radius: 50px;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 20px;
}
#section {
    position: absolute;
    right: 0%;
    height: 100%;
}
.icon {
    width: 50px;
    padding: 10px;
}
footer {
    position: absolute;
    bottom: 0%;
    right: 0%;
}