@font-face {
    font-family: Inter;
    src: url(../Inter/Inter-Regular.ttf);

}
@font-face {
    font-family: "Inter Extra Bold";
    src: url(../Inter/Inter-ExtraBold.ttf);

}
*{
    color:#FC5151;
    font-family: "Inter Extra Bold";
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#imgLogo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 15px 0px 20px 0px;
    width: 68%;
}

.form {
    width: 300px;
    font-family: Inter;
}

.form.textBox::placeholder{
    color: #7e7e7e;
}

.label {
    font-size: 28pt;
    font-weight: 800;
    padding-bottom: 20px;
    text-align: left;
}

.textBox {
    width: 88%;
    height: 26px;
    border-width: 2px;
    color: gray;
    padding: 10px;
    text-align: left;
    border-radius: 16px;
}

.user {
    background-image: url(../img/user-gray.png);
    background-position: 5px center;
    background-size: 18px;
    background-repeat: no-repeat;
    padding-left: 27px;
    transition: .5s;
    
}

.user:focus {
    background-image: url(../img/user.png);
}

.password {
    background-image: url(../img/padlock-gray.png);
    background-position: 5px center;
    background-size: 18px;
    background-repeat: no-repeat;
    padding-left: 27px;
    transition: .5s;
}

.password:focus {
    background-image: url(../img/padlock.png);
}

.linkForm{
    font-family: Inter;
    font-size: 10pt;
}