@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
} 

html {
    height: 100%;
}

body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.darkScreen{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.goBackButton{
    background-color: #E84040;
    display: flex;
    align-items: center;
    justify-content: center ;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50px;
}

.form {
    background-color: #F7F7F7;
    border: #FFBFA4 solid 8px;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 40px;
    text-align: center;
}

.form.textBox::placeholder{
    color: #7e7e7e;
}

.textBox {
    width: 88%;
    height: 26px;
    border-width: 2px;
    color: gray;
    padding: 10px;
    text-align: left;
    border-radius: 16px;
}

.textBox:focus {
    outline: none;
    box-shadow: 0 0 6px 0 #FFBFA4;
}

.YellowButton {
    width: auto;
    background-color: #FFD74B;
    border: solid 5px #FFF0B9;
    border-radius: 20px;
    color: #F7F7F7;
    font-size: 12pt;
    font-weight: 800;
    padding: 18px 68px 18px 68px;
    margin-top: 40px;
    cursor: pointer;
    transition: .3s;
}

.YellowButton:hover {
    outline: none;
    background-color: #ffc800;
    border-color: #fde89a;
}