*{
    padding: 0;
    margin: 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(../img/background.png);
}

.header{
    width: auto;
    display: flex;
    justify-content: flex-start;
}

.goBackButton{
    background-color: #E84040;
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50px;
}

/*-----------------------------------------------------------------------------------------------*/
.darkScreen{
background-color: rgba(0, 0, 0, 0.6);
width: 100%;
height: 100vh;
}

/*-----------------------------------------------------------------------------------------------*/

.boardContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: -35px;
}

.board{
    background-color: rgb(255, 234, 234);
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #FF9E9E solid 10px;
    border-radius: 30px;
}

.rankingText{
    color:#FC5151;
    font-size: 30pt;
    font-weight: 800;
}

/*-----------------------------------------------------------------------------------------------*/
.rankContainer{
width: 100%;
height: auto;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding-top: 50px;
}

.podiumContainer{
width: auto;
height: 10px;
display: flex;
align-items: flex-end;
margin-top: 300px;
}

.othersContainer{
    background-color: #FFF1BE;
    width: 800px;
    height: 100px;
    display: flex;
    border: #FFBFA4 solid 8px;
    border-radius: 25px;

}


/*-----------------------------------------------------------------------------------------------*/
/*--------------------------------------PODIUM CSS---------------------------------------------------------*/
.podium{
    background-color: antiquewhite;
    width: 200px;
    height: 250px;
    border-radius: 15px 15px 0px 0px;
    border-width: 5px 5px 0px 5px;
    border-style: solid;
    padding: 5px;

}

.placeContainer{
text-align: center;
}

.podiumUsername{
color: white;
font-size: 20pt;
text-border: #FF6767 solid 3px;
}

#firstPlace{
    background-color: #FFDB1E;
    border-color:#FFA51E ;
}

#secondPlace{
    height: 200px;
    background-color: #bbbbbb;
    border-color:#9b9999 ;
}

#thirdPlace{
    height: 150px;
    background-color: #CB5034;
    border-color:#A12D2D ;
}

.place{
    color: white;
font-size: 35pt;
margin: 5px;
}

.data{
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 30px;

}

