*{
    padding: 0;
    margin: 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(../img/background.png);
}

.header{
    width: auto;
    display: flex;
    justify-content: flex-start;
}

.goBackButton{
    background-color: #E84040;
    display: flex;
    align-items: center;
    justify-content: center ;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50px;
}

/*------------------------------DARKSCREEN-----------------------------------------------------------------*/
.darkScreen{
background-color: rgba(0, 0, 0, 0.6);
width: 100%;
height: 100%;
}

/*--------------------------------------BOARD---------------------------------------------------------*/

.boardContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: -35px;
}

.board{
    background-color: #FBFBFB;
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: #FF9E9E solid 10px;
    border-radius: 30px;
}

.board img{
    width: 30px;
}

.rankingText{
    color:#FC5151;
    font-size: 30pt;
    font-weight: 800;
}

/*------------------------------------------CONTAINERS-----------------------------------------------------*/
.rankContainer{
width: 100%;
height: auto;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding-top: 50px;
}

.podiumContainer{
width: auto;
height: 10px;
display: flex;
align-items: flex-end;
margin-top: 300px;
}

.othersContainer{
    background-color: #FFF1BE;
    width: 800px;
    height: auto;
    border: #FFBFA4 solid 8px;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 20px;

}


/*-----------------------------------------------------------------------------------------------*/
/*--------------------------------------PODIUM CSS---------------------------------------------------------*/
.podium{
    background-color: antiquewhite;
    width: 200px;
    height: 250px;
    border-radius: 15px 15px 0px 0px;
    border-width: 5px 5px 0px 5px;
    border-style: solid;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.placeContainer{
text-align: center;
}

.podiumUsername{
color: white;
font-size: 20pt;
text-border: #FF6767 solid 3px;
}

#firstPlace{
    background-color: #FFDB1E;
    border-color:#FFA51E ;
}

#secondPlace{
    height: 200px;
    background-color: #bbbbbb;
    border-color:#9b9999 ;
}

#thirdPlace{
    height: 150px;
    background-color: #CB5034;
    border-color:#A12D2D ;
}

.place{
color: rgb(255, 255, 255);
font-size: 35pt;
margin: 5px;
}


/*---------------Podium Content-----------------------------*/
.data{
    background-color: rgba(0, 0, 0, 0.405);
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 160px;
    height: auto;
    padding: 10px;
    color: white;

}

.textContainer{
    width: 70px;
    font-size: 9pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dataText{
    font-size: 9pt;
}

.dataTitle{
    font-size: 20pt;
    font-weight: bold;
}



/*-----------------------------------------------------------------------------------------------*/
/*--------------------------------------OTHERS CSS---------------------------------------------------------*/

.othersContentLight, .othersContentDark{
    background-color: #FBFBFB;
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #B85A5A;
    position: relative;


}

.othersContentDark{
    background-color: #FFF1BE;

}

.othersText{
font-size: 12pt;
font-weight: bold;
}

.othersPlace{
font-size: 22pt;
font-weight: 900;
}