header {
    position: absolute;
    left: 10px;
    top: 10px;
}    
main {
    background-color: white;
    border: 8px solid #FF6161;
    border-radius: 25px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#localButton {
    display: flex;
    gap: 15px;
}
.button {
    background-color: #FCE9A8;
    border: 8px #FFAA5C solid;
    border-radius: 30px;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 40px;
    width: 180px;
    height: 180px; 
    margin-top: 20px; 
}
.button:hover {
    cursor: pointer;
    background-color: #C2B2FF;
    border-color: #B982FF;
}
