@font-face {
    font-family: Inter;
    src: url(../Inter/Inter-Regular.ttf);

}
@font-face {
    font-family: "Inter Extra Bold";
    src: url(../Inter/Inter-ExtraBold.ttf);

}

*{
    font-family: Inter;
}
header {
    position: absolute;
    left: 10px;
    top: 10px;
}    
main {
    background-color: white;
    border: 8px solid #FF6161;
    border-radius: 25px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Inter;
    font-size: 20px;
}
#localButton {
    display: flex;
    gap: 15px;
}
.button {
    background-color: #fddf7c;
    border: 8px #FFAA5C solid;
    border-radius: 30px;
    font-family: "Inter Extra Bold";
    color: white;
    font-size: 40px;
    width: 180px;
    height: 180px; 
    margin-top: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover {
    cursor: pointer;
    background-color: #C2B2FF;
    border-color: #B982FF;
}
